@import '../../../styles/variables';
.textContainer {
    color: #000;
}

.canvas {
    color: #000;
    margin: 10px 0;
    text-align: center;
}

.externalLink {
    display: inline-block;
    margin: 20px 0;
    font-weight: bold;
}